<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppAPIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>AppAuthClientID</key>
	<string>$(AUTH_CLIENT_ID)</string>
	<key>AppAuthIssuer</key>
	<string>$(AUTH_ISSUER)</string>
	<key>AppAuthRedirectURI</key>
	<string>$(AUTH_REDIRECT_URI)</string>
	<key>AppAuthScopes</key>
	<string>$(AUTH_SCOPES)</string>
	<key>AppAuthURLScheme</key>
	<string>$(AUTH_URL_SCHEME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(AUTH_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://update.linda.rxlab.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>REPLACE_WITH_YOUR_PUBLIC_ED_KEY</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
